*{
	box-sizing: border-box;
}
body{
	color: #000;
}
ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #fff;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.center{
	max-width: 1200px;
	margin: auto;
	position: relative;
	z-index: 1;
}
header{
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(0,0,0,0);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	transition: all .5s;
}
header.on{
	padding: 3px 0;
	background-color: rgba(0,0,0,.4);
}
header .logo{
	float: left;
}
header .logo img{
	display: inline-block;
	vertical-align: middle;
}
header .logo span{
	vertical-align: middle;
	font-size: 2.5em;
}
header .Menu{
	float: right;
}
header .Menu li{
	float: left;
	margin: 20px;
}
header .Menu li a{
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba(0,0,0,.2);
	transition: color .5s;
}	
header .Menu li a:hover{
	color: #339BEB;
}
#nav li{
  float: left;
  margin-right: 15px;
}
header ul li .bi{
  position: relative;
  transition:all .5s;
}
header ul li .bi:hover span{
  visibility: visible;
  top: 0;
  left: 0;
  cursor: pointer;
}
header ul li .bi span{
  position: absolute;
  left: -999em;
  visibility: hidden;
  transition:all .5s;
}
#nav li a,
header ul li .bi:hover span{
  line-height: 20px;
  background: #DDDDDD;
  color: #000;
  display: block;
  width: 80px;
  text-align: center;
}

#nav li a:hover,header ul li .bi:hover span{
  color: #FFFFFF;
  background: darkseagreen;
}

header ul li .bi:hover span{
  padding-top: 0px;
}
section{
	padding: 50px 0px;
	line-height: 2;
	min-height: 400px;
	position: relative;
}
